
// scss-docs-start theme-color-variables
$primary:        #004d00;
$secondary:  	#E4E3D9 ;

/*$secondary:     #567B97;*/
/*$secondary:		#00BBFF;*/
/*

#004D00
#E4E3D9
#7B794E

#ced4da 


#004D00
#AFAD88
#386C5F


$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

*/
